In [488]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import ast

In [489]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import statsmodels.api as sm

In [490]:
courses = pd.read_csv('course_data.csv')

In [491]:
courses_data = courses[['no', 'co', 'hh', 'ha', 'hs', 'he', 'ci', 'cw', 're', 'la', 'u1', 'u2', 'u3', 'le', 'mw', 'sa', 'pr', 'ra', 'h']]

In [492]:
courses_data

,no,co,hh,ha,hs,he,ci,cw,re,la,u1,u2,u3,le,mw,sa,pr,ra,h
0,1.00,1,0,0,0,0,0,0,1,0,3,2,7,U,['1.001'],[''],"[['18.01', '18.01A']]",5.57,13.33
1,1.000,1,0,0,0,0,0,0,1,0,3,2,7,U,[''],[''],[['18.03']],5.70,9.60
2,1.001,1,0,0,0,0,0,0,0,0,3,2,7,G,['1.00'],[''],"[['18.01', '18.01A']]",5.57,13.33
3,1.005,1,0,0,0,0,0,0,0,0,1,0,2,U,[''],[''],[],6.10,2.70
4,1.008,1,0,0,0,0,0,0,0,0,1,1,1,U,[''],[''],[],6.50,2.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,WGS.645,WGS,0,0,0,0,0,0,0,0,3,0,9,G,[''],[''],[],0.00,0.00
3531,WGS.700,WGS,0,0,0,0,0,0,0,0,3,0,9,G,[''],[''],[],0.00,0.00
3532,WGS.S10,WGS,0,0,0,0,0,0,0,0,3,0,9,G,[''],[''],[],5.83,10.13
3533,WGS.UR,WGS,0,0,0,0,0,0,0,0,0,0,0,U,[''],[''],[],0.00,0.00
3534,WGS.URG,WGS,0,0,0,0,0,0,0,0,0,0,0,U,[''],[''],[],0.00,0.00

In [493]:
courses_data['pr'] = courses_data['pr'].apply(lambda x: ast.literal_eval(x))

/Users/ryanwelch/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [494]:
courses_data['mw'] = courses_data['mw'].apply(lambda x: ast.literal_eval(x))

/Users/ryanwelch/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [495]:
courses_data['sa'] = courses_data['sa'].apply(lambda x: ast.literal_eval(x))

/Users/ryanwelch/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [496]:
courses_data['le'] = courses_data['le'].apply(lambda x: 1 if x=='G' else 0)

/Users/ryanwelch/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [497]:
courses_data = pd.get_dummies(courses_data, columns=['co'])

# Adjust ratings and hours with 'same as' courses

In [498]:
for i, course in courses_data.iterrows():
    
    if course['ra'] == 0.0 and course['sa'] != ['']:
        for sa_course_name in course['sa']:
            sa_course = courses_data.loc[courses_data['no']==sa_course_name.replace(' ', '')]
            if len(sa_course)==0:
                continue
            if sa_course.iloc[0]['ra'] != 0.0:
                courses_data.loc[i, 'ra'] = sa_course.iloc[0]['ra']
                print(course['no'], sa_course_name.replace(' ', ''))
                break
                
    if course['h'] == 0.0 and course['sa'] != ['']:
        for sa_course_name in course['sa']:
            sa_course = courses_data.loc[courses_data['no']==sa_course_name.replace(' ', '')]
            if len(sa_course)==0:
                continue
            if sa_course.iloc[0]['h'] != 0.0:
                courses_data.loc[i, 'h'] = sa_course.iloc[0]['h']
                print(course['no'], sa_course_name.replace(' ', ''))
                break

# Adjust ratings and hours with 'meets with' courses

In [499]:
for i, course in courses_data.iterrows():
    
    if course['ra'] == 0.0 and course['mw'] != ['']:
        for mw_course_name in course['mw']:
            mw_course = courses_data.loc[courses_data['no']==mw_course_name.replace(' ', '')]
            if len(mw_course)==0:
                continue
            if mw_course.iloc[0]['ra'] != 0.0:
                courses_data.loc[i, 'ra'] = mw_course.iloc[0]['ra']
                print(course['no'], mw_course_name.replace(' ', ''))
                break
                
    if course['h'] == 0.0 and course['mw'] != ['']:
        for mw_course_name in course['mw']:
            mw_course = courses_data.loc[courses_data['no']==mw_course_name.replace(' ', '')]
            if len(mw_course)==0:
                continue
            if mw_course.iloc[0]['h'] != 0.0:
                courses_data.loc[i, 'h'] = mw_course.iloc[0]['h']
                print(course['no'], mw_course_name.replace(' ', ''))
                break

# Feature Engineering

In [500]:
courses_data.columns

Index(['no', 'hh', 'ha', 'hs', 'he', 'ci', 'cw', 're', 'la', 'u1', 'u2', 'u3',
       'le', 'mw', 'sa', 'pr', 'ra', 'h', 'co_1', 'co_10', 'co_11', 'co_12',
       'co_14', 'co_15', 'co_16', 'co_17', 'co_18', 'co_2', 'co_20', 'co_21',
       'co_21A', 'co_21G', 'co_21H', 'co_21L', 'co_21M', 'co_21W', 'co_22',
       'co_24', 'co_3', 'co_4', 'co_5', 'co_6', 'co_7', 'co_8', 'co_9',
       'co_AS', 'co_CC', 'co_CDO', 'co_CMS', 'co_CSB', 'co_CSE', 'co_EC',
       'co_EM', 'co_ES', 'co_ESD', 'co_HST', 'co_IDS', 'co_MAS', 'co_MS',
       'co_NS', 'co_OR', 'co_RED', 'co_SCM', 'co_SDM', 'co_SP', 'co_STS',
       'co_WGS'],
      dtype='object')

In [501]:
courses_data['has_pr'] = courses_data['pr'].apply(lambda x: 0 if (x==[] or x== ['']) else 1)

In [502]:
#flatten prereqs

In [503]:
i = 20
print(courses_data.iloc[i]['pr'])
print(courses_data.iloc[i]['has_pr'])

[['18.02', '18.02A', '18.022']]
1

In [504]:
def flatten_pr(pre_reqs):
    return [course for pre_req in pre_reqs for course in pre_req]

# flatten_pr([['1', '2'], ['3'], ['4', '5', '6'], ['7'], ['8'], ['9', '10']])

In [505]:
def get_rating(no):
    course = courses_data.loc[courses_data['no']==no]
    if len(course)==0:
        return 0.0
    return course.iloc[0]['ra']

# get_rating('6.1220')

In [506]:
def get_hours(no):
    course = courses_data.loc[courses_data['no']==no]
    if len(course)==0:
        return 0.0
    return course.iloc[0]['h']

# get_hours('6.1220')

In [507]:
def avg_max_pr_rating(course):
    ratings = []
    for pr in flatten_pr(course['pr']):
        pr_ra = get_rating(pr)
        if pr_ra != 0.0:
            ratings.append(pr_ra)
    if len(ratings)==0:
        return 0.0, 0.0
    return sum(ratings)/len(ratings), max(ratings)

course = courses_data.loc[courses_data['no']=='6.1210'].iloc[0]
avg_max_pr_rating(course)

(5.24, 5.65)

In [508]:
def avg_max_pr_hours(course):
    hours = []
    for pr in flatten_pr(course['pr']):
        pr_h = get_hours(pr)
        if pr_h != 0.0:
            hours.append(pr_h)
    if len(hours)==0:
        return 0.0, 0.0
    return sum(hours)/len(hours), max(hours)

course = courses_data.loc[courses_data['no']=='6.1210'].iloc[0]
avg_max_pr_hours(course)

(10.94, 11.29)

In [509]:
courses_data['avg_pr_ra'] = courses_data.apply(lambda x: 0.0 if x['has_pr']==0 else avg_max_pr_rating(x)[0], axis=1)
courses_data['max_pr_ra'] = courses_data.apply(lambda x: 0.0 if x['has_pr']==0 else avg_max_pr_rating(x)[1], axis=1)
courses_data['avg_pr_h'] = courses_data.apply(lambda x: 0.0 if x['has_pr']==0 else avg_max_pr_hours(x)[0], axis=1)
courses_data['max_pr_h'] = courses_data.apply(lambda x: 0.0 if x['has_pr']==0 else avg_max_pr_hours(x)[1], axis=1)

In [510]:
course = courses_data.loc[courses_data['no']=='6.1210'].iloc[0]

In [511]:
print(course['avg_pr_ra'])
print(course['max_pr_ra'])
print(course['avg_pr_h'])
print(course['max_pr_h'])

5.24
5.65
10.94
11.29

# Train Multivariate Regression Model for Hours

In [512]:
courses_data

,no,hh,ha,hs,he,ci,cw,re,la,u1,...,co_SCM,co_SDM,co_SP,co_STS,co_WGS,has_pr,avg_pr_ra,max_pr_ra,avg_pr_h,max_pr_h
0,1.00,0,0,0,0,0,0,1,0,3,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
1,1.000,0,0,0,0,0,0,1,0,3,...,0,0,0,0,0,1,5.16,5.16,10.13,10.13
2,1.001,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
3,1.005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
4,1.008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,WGS.645,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3531,WGS.700,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3532,WGS.S10,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3533,WGS.UR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3534,WGS.URG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00

In [513]:
#only train on courses that have full hours data
valid_courses = courses_data.loc[courses['h']!=0.0]

In [514]:
valid_courses = valid_courses.drop(
    valid_courses.loc[valid_courses['has_pr']==1].loc[valid_courses['avg_pr_h']==0.0].index.to_list())

In [515]:
valid_courses.columns

Index(['no', 'hh', 'ha', 'hs', 'he', 'ci', 'cw', 're', 'la', 'u1', 'u2', 'u3',
       'le', 'mw', 'sa', 'pr', 'ra', 'h', 'co_1', 'co_10', 'co_11', 'co_12',
       'co_14', 'co_15', 'co_16', 'co_17', 'co_18', 'co_2', 'co_20', 'co_21',
       'co_21A', 'co_21G', 'co_21H', 'co_21L', 'co_21M', 'co_21W', 'co_22',
       'co_24', 'co_3', 'co_4', 'co_5', 'co_6', 'co_7', 'co_8', 'co_9',
       'co_AS', 'co_CC', 'co_CDO', 'co_CMS', 'co_CSB', 'co_CSE', 'co_EC',
       'co_EM', 'co_ES', 'co_ESD', 'co_HST', 'co_IDS', 'co_MAS', 'co_MS',
       'co_NS', 'co_OR', 'co_RED', 'co_SCM', 'co_SDM', 'co_SP', 'co_STS',
       'co_WGS', 'has_pr', 'avg_pr_ra', 'max_pr_ra', 'avg_pr_h', 'max_pr_h'],
      dtype='object')

In [516]:
X = valid_courses.drop(['no', 'ra', 'h', 'pr', 'sa', 'mw'], axis=1)
X

,hh,ha,hs,he,ci,cw,re,la,u1,u2,...,co_SCM,co_SDM,co_SP,co_STS,co_WGS,has_pr,avg_pr_ra,max_pr_ra,avg_pr_h,max_pr_h
0,0,0,0,0,0,0,1,0,3,2,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
1,0,0,0,0,0,0,1,0,3,2,...,0,0,0,0,0,1,5.16,5.16,10.13,10.13
2,0,0,0,0,0,0,0,0,3,2,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
4,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3522,1,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3523,1,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3524,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3532,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00

In [517]:
y = valid_courses['h']
y

0       13.33
1        9.60
2       13.33
3        2.70
4        2.40
        ...
3521     8.00
3522     8.17
3523    12.00
3524    12.00
3532    10.13
Name: h, Length: 2357, dtype: float64

In [518]:
X = sm.add_constant(X)

In [519]:
model = sm.OLS(y, X).fit()

In [520]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      h   R-squared:                       0.235
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                     12.14
Date:                Tue, 05 Dec 2023   Prob (F-statistic):           2.49e-95
Time:                        15:25:38   Log-Likelihood:                -6962.9
No. Observations:                2357   AIC:                         1.404e+04
Df Residuals:                    2298   BIC:                         1.438e+04
Df Model:                          58
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.6931      0.371     20.737      0.000       6.966       8.421
hh             0.0319      0.592      0.054      0.957      -1.130       1.193
ha            -0.3709      0.676     -0.549      0.583      -1.697       0.955
hs            -0.0107      0.562     -0.019      0.985      -1.112       1.091
he            -0.8057      3.414     -0.236      0.813      -7.501       5.889
ci            -0.4901      0.582     -0.842      0.400      -1.632       0.652
cw            -0.3817      1.355     -0.282      0.778      -3.039       2.276
re             0.2742      0.663      0.413      0.679      -1.026       1.575
la             0.5535      0.876      0.632      0.528      -1.165       2.272
u1            -0.3518      0.121     -2.913      0.004      -0.589      -0.115
u2             0.8189      0.070     11.640      0.000       0.681       0.957
u3             0.1242      0.049      2.534      0.011       0.028       0.220
le             1.9208      0.267      7.191      0.000       1.397       2.445
co_1           0.6943      0.517      1.344      0.179      -0.319       1.707
co_10          2.3279      0.628      3.708      0.000       1.097       3.559
co_11         -0.4682      0.476     -0.983      0.326      -1.402       0.466
co_12          0.3089      0.545      0.567      0.571      -0.760       1.378
co_14          1.6396      0.600      2.731      0.006       0.462       2.817
co_15         -1.1734      0.392     -2.997      0.003      -1.941      -0.406
co_16          0.8124      0.575      1.413      0.158      -0.315       1.940
co_17          1.4881      0.703      2.118      0.034       0.110       2.866
co_18          0.7418      0.499      1.487      0.137      -0.236       1.720
co_2           1.1863      0.450      2.637      0.008       0.304       2.069
co_20         -0.1235      0.723     -0.171      0.864      -1.541       1.294
co_21      -8.863e-16   1.13e-15     -0.787      0.431   -3.09e-15    1.32e-15
co_21A         1.0302      1.178      0.875      0.382      -1.280       3.340
co_21G         1.6648      0.642      2.591      0.010       0.405       2.925
co_21H         0.8332      0.892      0.934      0.350      -0.915       2.582
co_21L         0.7746      0.786      0.985      0.325      -0.767       2.316
co_21M        -0.3493      0.727     -0.480      0.631      -1.775       1.076
co_21W         0.3476      0.775      0.449      0.654      -1.172       1.867
co_22          0.8238      0.774      1.065      0.287      -0.694       2.341
co_24         -0.9249      0.649     -1.426      0.154      -2.197       0.347
co_3          -0.4145      0.628     -0.660      0.509      -1.645       0.816
co_4           2.4034      0.494      4.863      0.000       1.434       3.372
co_5           0.1626      0.735      0.221      0.825      -1.278       1.603
co_6           2.5072      0.441      5.681      0.000       1.642       3.373
co_7           0.5505      0.639      0.861      0.389      -0.703       1.804
co_8           3.5185      0.678      5.192      0.000       2.190       4.847
co_9           1.2449      0.707      1.761      0.078      -0.141       2.631
co_AS         -2.6014      1.375     -1.893      0.059      -5.297       0.094
co_CC          2.4509      1.268      1.932      0.053      -0.037       4.938
co_CDO     -1.208e-15    6.3e-16     -1.918      0.055   -2.44e-15    2.73e-17
co_CMS         0.5287      0.714      0.740      0.459      -0.872       1.929
co_CSB        -3.4529      4.604     -0.750      0.453     -12.481       5.576
co_CSE      -2.45e-15    1.3e-15     -1.885      0.060      -5e-15    9.91e-17
co_EC         -0.0471      1.007     -0.047      0.963      -2.022       1.928
co_EM          0.3912      1.645      0.238      0.812      -2.835       3.618
co_ES          1.7810      1.155      1.541      0.123      -0.485       4.047
co_ESD      5.631e-16   4.05e-16      1.389      0.165   -2.32e-16    1.36e-15
co_HST        -0.5209      0.876     -0.595      0.552      -2.238       1.196
co_IDS         0.1731      0.770      0.225      0.822      -1.336       1.683
co_MAS        -0.9848      0.905     -1.088      0.277      -2.760       0.790
co_MS         -7.0464      4.603     -1.531      0.126     -16.074       1.981
co_NS         -2.2801      1.762     -1.294      0.196      -5.735       1.174
co_OR       2.246e-17   1.44e-16      0.156      0.876    -2.6e-16    3.05e-16
co_RED      9.119e-17   1.47e-16      0.619      0.536   -1.97e-16     3.8e-16
co_SCM        -1.6063      1.254     -1.281      0.200      -4.066       0.853
co_SDM     -1.405e-18   2.84e-17     -0.049      0.961   -5.72e-17    5.44e-17
co_SP         -2.9980      2.079     -1.442      0.149      -7.075       1.079
co_STS         1.4338      0.943      1.521      0.128      -0.415       3.283
co_WGS         0.8655      1.015      0.853      0.394      -1.124       2.855
has_pr        -0.1608      1.991     -0.081      0.936      -4.066       3.744
avg_pr_ra     -0.9251      0.751     -1.231      0.218      -2.398       0.548
max_pr_ra      0.4374      0.741      0.590      0.555      -1.017       1.891
avg_pr_h       0.2727      0.141      1.934      0.053      -0.004       0.549
max_pr_h       0.0770      0.127      0.607      0.544      -0.172       0.326
==============================================================================
Omnibus:                     2447.916   Durbin-Watson:                   1.708
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           275797.329
Skew:                           4.859   Prob(JB):                         0.00
Kurtosis:                      55.095   Cond. No.                     2.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.12e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Generate Hours Predictions

In [521]:
courses_to_predict = courses_data.loc[courses_data['h']==0.0]

In [522]:
X_new = courses_to_predict.drop(['no', 'ra', 'h', 'pr', 'sa', 'mw'], axis=1)

In [523]:
X_new = sm.add_constant(X_new)

In [524]:
y_pred = model.predict(X_new)

In [525]:
y_pred

17       9.501595
23       9.363517
29      10.187022
36       9.839533
37       8.454791
          ...
3529    10.542399
3530    10.542399
3531    10.542399
3533     8.558653
3534     8.558653
Length: 1135, dtype: float64

In [526]:
for i, pred in y_pred.iteritems():
    courses_data.loc[i, 'h'] = pred

In [527]:
for i, pred in y_pred.iteritems():
    courses.loc[i, 'h'] = pred

# Train Multivariate Regression Model for Ratings

In [528]:
courses_data

,no,hh,ha,hs,he,ci,cw,re,la,u1,...,co_SCM,co_SDM,co_SP,co_STS,co_WGS,has_pr,avg_pr_ra,max_pr_ra,avg_pr_h,max_pr_h
0,1.00,0,0,0,0,0,0,1,0,3,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
1,1.000,0,0,0,0,0,0,1,0,3,...,0,0,0,0,0,1,5.16,5.16,10.13,10.13
2,1.001,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
3,1.005,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
4,1.008,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,WGS.645,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3531,WGS.700,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3532,WGS.S10,0,0,0,0,0,0,0,0,3,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3533,WGS.UR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3534,WGS.URG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00

In [529]:
#only train on courses that have full ratings data
valid_courses = courses_data.loc[courses['ra']!=0.0]

In [530]:
#only train on courses that have data for their pre reqs

valid_courses = valid_courses.drop(
    valid_courses.loc[valid_courses['has_pr']==1].loc[valid_courses['avg_pr_ra']==0.0].index.to_list())

In [531]:
valid_courses.columns

Index(['no', 'hh', 'ha', 'hs', 'he', 'ci', 'cw', 're', 'la', 'u1', 'u2', 'u3',
       'le', 'mw', 'sa', 'pr', 'ra', 'h', 'co_1', 'co_10', 'co_11', 'co_12',
       'co_14', 'co_15', 'co_16', 'co_17', 'co_18', 'co_2', 'co_20', 'co_21',
       'co_21A', 'co_21G', 'co_21H', 'co_21L', 'co_21M', 'co_21W', 'co_22',
       'co_24', 'co_3', 'co_4', 'co_5', 'co_6', 'co_7', 'co_8', 'co_9',
       'co_AS', 'co_CC', 'co_CDO', 'co_CMS', 'co_CSB', 'co_CSE', 'co_EC',
       'co_EM', 'co_ES', 'co_ESD', 'co_HST', 'co_IDS', 'co_MAS', 'co_MS',
       'co_NS', 'co_OR', 'co_RED', 'co_SCM', 'co_SDM', 'co_SP', 'co_STS',
       'co_WGS', 'has_pr', 'avg_pr_ra', 'max_pr_ra', 'avg_pr_h', 'max_pr_h'],
      dtype='object')

In [532]:
X = valid_courses.drop(['no', 'ra', 'pr', 'sa', 'mw'], axis=1)
X

,hh,ha,hs,he,ci,cw,re,la,u1,u2,...,co_SCM,co_SDM,co_SP,co_STS,co_WGS,has_pr,avg_pr_ra,max_pr_ra,avg_pr_h,max_pr_h
0,0,0,0,0,0,0,1,0,3,2,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
1,0,0,0,0,0,0,1,0,3,2,...,0,0,0,0,0,1,5.16,5.16,10.13,10.13
2,0,0,0,0,0,0,0,0,3,2,...,0,0,0,0,0,1,5.34,5.34,11.92,11.92
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
4,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3522,1,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3523,1,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3524,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00
3532,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,1,0,0.00,0.00,0.00,0.00

In [533]:
Y = valid_courses['ra']
Y

0       5.57
1       5.70
2       5.57
3       6.10
4       6.50
        ...
3521    4.80
3522    6.45
3523    6.00
3524    6.00
3532    5.83
Name: ra, Length: 2360, dtype: float64

In [534]:
X = sm.add_constant(X)

In [535]:
model = sm.OLS(Y, X).fit()

In [536]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     ra   R-squared:                       0.168
Model:                            OLS   Adj. R-squared:                  0.147
Method:                 Least Squares   F-statistic:                     7.868
Date:                Tue, 05 Dec 2023   Prob (F-statistic):           2.11e-57
Time:                        15:25:38   Log-Likelihood:                -2192.0
No. Observations:                2360   AIC:                             4504.
Df Residuals:                    2300   BIC:                             4850.
Df Model:                          59
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.9732      0.053    112.397      0.000       5.869       6.077
hh             0.2945      0.078      3.759      0.000       0.141       0.448
ha             0.4046      0.089      4.534      0.000       0.230       0.580
hs             0.1998      0.074      2.696      0.007       0.054       0.345
he             0.7505      0.451      1.665      0.096      -0.133       1.634
ci            -0.2945      0.077     -3.831      0.000      -0.445      -0.144
cw            -0.5105      0.179     -2.854      0.004      -0.861      -0.160
re            -0.1678      0.088     -1.917      0.055      -0.339       0.004
la             0.0769      0.116      0.665      0.506      -0.150       0.304
u1            -0.0569      0.016     -3.565      0.000      -0.088      -0.026
u2            -0.0096      0.010     -1.006      0.315      -0.028       0.009
u3            -0.0036      0.006     -0.551      0.582      -0.016       0.009
le             0.1533      0.036      4.304      0.000       0.083       0.223
h             -0.0023      0.003     -0.837      0.403      -0.008       0.003
co_1           0.0806      0.068      1.181      0.238      -0.053       0.214
co_10         -0.0106      0.083     -0.127      0.899      -0.174       0.152
co_11         -0.1326      0.063     -2.110      0.035      -0.256      -0.009
co_12          0.0536      0.072      0.745      0.456      -0.087       0.195
co_14          0.1160      0.079      1.462      0.144      -0.040       0.272
co_15         -0.1522      0.052     -2.939      0.003      -0.254      -0.051
co_16          0.0143      0.076      0.189      0.850      -0.135       0.163
co_17          0.1937      0.092      2.108      0.035       0.014       0.374
co_18          0.1242      0.066      1.885      0.060      -0.005       0.253
co_2          -0.0473      0.059     -0.795      0.427      -0.164       0.069
co_20          0.1696      0.095      1.778      0.076      -0.017       0.357
co_21      -3.379e-16    2.6e-16     -1.297      0.195   -8.49e-16    1.73e-16
co_21A         0.3529      0.155      2.270      0.023       0.048       0.658
co_21G         0.4642      0.085      5.431      0.000       0.297       0.632
co_21H         0.4810      0.118      4.085      0.000       0.250       0.712
co_21L         0.4365      0.104      4.205      0.000       0.233       0.640
co_21M         0.4211      0.096      4.389      0.000       0.233       0.609
co_21W         0.3345      0.102      3.271      0.001       0.134       0.535
co_22          0.0074      0.102      0.073      0.942      -0.193       0.208
co_24          0.0863      0.086      1.007      0.314      -0.082       0.254
co_3           0.0927      0.083      1.119      0.263      -0.070       0.255
co_4          -0.0673      0.066     -1.028      0.304      -0.196       0.061
co_5          -0.1449      0.097     -1.495      0.135      -0.335       0.045
co_6           0.0414      0.059      0.705      0.481      -0.074       0.156
co_7           0.2700      0.084      3.199      0.001       0.104       0.436
co_8           0.0714      0.090      0.793      0.428      -0.105       0.248
co_9           0.2870      0.093      3.076      0.002       0.104       0.470
co_AS          0.6301      0.175      3.604      0.000       0.287       0.973
co_CC          0.1389      0.168      0.829      0.407      -0.190       0.467
co_CDO     -2.489e-16   1.16e-16     -2.143      0.032   -4.77e-16   -2.12e-17
co_CMS         0.3454      0.092      3.739      0.000       0.164       0.527
co_CSB         0.4385      0.608      0.722      0.471      -0.753       1.630
co_CSE     -2.538e-17   1.54e-16     -0.165      0.869   -3.28e-16    2.77e-16
co_EC          0.0190      0.130      0.146      0.884      -0.236       0.274
co_EM         -0.1688      0.217     -0.777      0.437      -0.595       0.257
co_ES          0.2631      0.153      1.724      0.085      -0.036       0.562
co_ESD     -5.966e-17   4.31e-17     -1.384      0.167   -1.44e-16    2.49e-17
co_HST        -0.1143      0.116     -0.989      0.323      -0.341       0.112
co_IDS        -0.1645      0.102     -1.619      0.106      -0.364       0.035
co_MAS        -0.1010      0.122     -0.831      0.406      -0.339       0.137
co_MS          1.1266      0.608      1.853      0.064      -0.065       2.319
co_NS          0.3113      0.233      1.338      0.181      -0.145       0.767
co_OR      -1.174e-17   2.13e-17     -0.552      0.581   -5.34e-17    2.99e-17
co_RED      3.156e-17   1.35e-17      2.336      0.020    5.06e-18    5.81e-17
co_SCM        -0.7132      0.166     -4.307      0.000      -1.038      -0.389
co_SDM      2.559e-19   9.01e-18      0.028      0.977   -1.74e-17    1.79e-17
co_SP         -0.1772      0.274     -0.645      0.519      -0.715       0.361
co_STS         0.3133      0.124      2.517      0.012       0.069       0.557
co_WGS         0.2826      0.134      2.109      0.035       0.020       0.545
has_pr        -0.6379      0.263     -2.423      0.015      -1.154      -0.122
avg_pr_ra      0.1109      0.099      1.119      0.263      -0.084       0.305
max_pr_ra      0.0010      0.098      0.011      0.991      -0.191       0.193
avg_pr_h       0.0535      0.019      2.870      0.004       0.017       0.090
max_pr_h      -0.0465      0.017     -2.780      0.005      -0.079      -0.014
==============================================================================
Omnibus:                      495.233   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1499.633
Skew:                          -1.065   Prob(JB):                         0.00
Kurtosis:                       6.273   Cond. No.                     1.73e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.29e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Generate Rating Predictions

In [537]:
courses_to_predict = courses_data.loc[courses_data['ra']==0.0]

In [538]:
X_new = courses_to_predict.drop(['no', 'ra', 'pr', 'sa', 'mw'], axis=1)

In [539]:
X_new = sm.add_constant(X_new)

In [540]:
y_pred = model.predict(X_new)

In [541]:
for i, pred in y_pred.iteritems():
    courses_data.loc[i, 'ra'] = pred

In [542]:
for i, pred in y_pred.iteritems():
    courses.loc[i, 'ra'] = pred

# Write to CSV

In [554]:
courses.to_csv('course_data_predicted.csv', index=False)

In [556]:
test = pd.read_csv('course_data_predicted.csv')

In [557]:
np.isclose(courses['ra'], test['ra'], atol=0.00001).all()

True

In [558]:
np.isclose(courses['h'], test['h'], atol=0.00001).all()

True