In [14]:
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas
# !{sys.executable} -m pip install ast
import pandas as pd
import numpy as np
import ast

Requirement already satisfied: numpy in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: pandas in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.1 in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/bella/.julia/conda/3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
file_path = 'course_data.csv'

# Load the CSV file into a pandas DataFrame
course_data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
course_data.head()

,no,co,cl,hh,ha,hs,he,ci,cw,re,...,ra,h,si,nx,rp,f,hf,vu,fa,sp
0,1.00,1,00,0,0,0,0,0,0,1,...,5.57,13.33,32.75,0,0,0,0,12.0,0,1
1,1.000,1,000,0,0,0,0,0,0,1,...,5.70,9.60,13.30,0,0,1,0,12.0,1,0
2,1.001,1,001,0,0,0,0,0,0,0,...,5.57,13.33,32.75,0,0,0,0,12.0,0,1
3,1.005,1,005,0,0,0,0,0,0,0,...,6.10,2.70,19.00,0,0,0,0,3.0,1,0
4,1.008,1,008,0,0,0,0,0,0,0,...,6.50,2.40,13.00,0,0,0,0,3.0,1,0

In [16]:
pre_reqs = course_data["pr"]
names = course_data["no"]
classes = len(names)

In [23]:
# Making matrix for pre-reqs
PR = []

max_length = max([len(ast.literal_eval(pre_reqs.loc[i])) for i in range(len(pre_reqs))])
print(max_length)

for i in range(classes):
    
    # initialize class_PR to all zeroes
    class_PR = np.zeros((max_length, classes))
    
    # convert to nested list of string
    p = ast.literal_eval(pre_reqs.loc[i])
    
    # initially class_PR will have one row for each pre-req
    # we iterate through all pre req constraints
    for j in range(len(p)):
        constraint = p[j]
        
        # add 1 to list for each constraint
        for p_class in constraint:
            try: # can't find some of the classes
                ind = names.tolist().index(p_class)
                class_PR[j][ind] = 1
            except:
                continue
    PR.append(np.transpose(class_PR))
    
# sanity check
print(sum(PR[0][1156]))
PR = np.array(PR)
print(PR.shape)

8
1.0
(3535, 3535, 8)

In [18]:
# export numpy array

PR = np.array(PR)

# reshaping the array from 3D 
# matrice to 2D matrice. 

PR_reshaped = PR.reshape(PR.shape[0], -1) 

np.savetxt("pre_reqs.txt", PR_reshaped)